@font-face { font-family: Inter; src: url('fonts/Inter.ttf'); }

* {
    font-family: Inter;
    font-size: 1.2rem;
}


.hero {
    background-color: #000000ab;
    background-blend-mode: color;
    background-image: url("home-bg.jpg");
    background-size: cover;
    object-fit: cover;
}

.hero-1 {
    background-color: #000000ab;
    background-blend-mode: color;
    background-image: url("bg-1.jpg");
    background-size: cover;
    object-fit: cover;
}

.hero-2 {
    background-color: #000000ab;
    background-blend-mode: color;
    background-image: url("bg-2.jpg");
    background-size: cover;
    object-fit: cover;
}

.hero-3 {
    background-color: #000000;
}


.full-screen-blur {
    backdrop-filter: blur(10px);
}

.full-screen {
    position: relative; /* Allow positioning children within */
    width: 100%; 
    height: 100vh; /* Ensure full viewport height */
    overflow: hidden;     
}
